  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header, main, footer{
    width: 960px;
    
  }
  
  header div{
    display: flex;
    justify-content: space-evenly;
  }
  form{
    display: flex;
    justify-content: space-evenly;
  }
  
  label{
    margin-left: 20px;
    justify-content: first baseline;
  }
  div, p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    text-align: center;
  }
  section{
    display: flex;
    justify-content: space-evenly;
    
  }
  #button-1{
    align-self: flex-start;
    height: 35px;
    width: 100px;

  }
  #button-2{
    align-self: flex-end;
    height: 35px;
    width: 100px;

  }
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex;
    flex-direction: row;
    height: 800px;
  }
img {
  width: 300px;
  margin-top: 30px;
}
li {
  width: 300px;
  height: 500px;
  margin-top: 50px;
}
footer{
  display: none;
}